@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  position: relative;
}

.text {
  position: absolute;
  font-family: "Dancing Script", cursive;
  top: 150px;
  left: 5%;
  font-size: 40px;
  color: #221c17;
}

.button {
  position: absolute;
  top: 300px;
  left: 5%;
}

@media only screen and (max-width: 420px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }

  .text {
    position: absolute;
    font-family: "Dancing Script", cursive;
    top: 175px;
    left: 5%;
    font-size: 20px;
    color: #221c17;
  }

  .button {
    position: absolute;
    top: 250px;
    left: 5%;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }

  .text {
    position: absolute;
    font-family: "Dancing Script", cursive;
    top: 200px;
    left: 5%;
    font-size: 30px;
    color: #221c17;
  }

  .button {
    position: absolute;
    top: 300px;
    left: 5%;
  }
}
