#background {
  background-color: #ebebe0;
}

.links {
  text-decoration: none !important;
}

.cols {
  padding: 15px;
}

.cards {
  padding: 10px;
}

.card_footer {
  background-color: #ffffff;
}

.order_button {
  float: right;
}

.post_image {
  /* width: 100%; */
  border-radius: 10%;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  padding: 10px;
}

.add_restaurant {
  position: relative;
  height: 70px;
  background-color: #cb202d;
}

.add_restaurant_text {
  position: absolute;
  font-size: 2em;
  top: 15%;
  left: 5%;
  color: white;
}

.restaurant_button {
  position: absolute;
  top: 25%;
  right: 5%;
}

.all-cards-container {
  min-height: calc(100vh - 171px);
}

@media screen and (max-width: 1199px) {
  .post {
    cursor: pointer;
  }

  .post_data {
    margin: auto;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_title {
    text-decoration: none !important;
    margin: auto;
    top: 160px;
    font-size: 20px;
    font-weight: bold;
    color: #cb202d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_type {
    margin: auto;
    top: 190px;
    color: #89959b;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_cost {
    margin: auto;
    top: 210px;
    color: #89959b;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_time {
    margin: auto;
    color: black;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_payment {
    text-decoration: none !important;
    margin: auto;
    font-size: 15px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_rating {
    margin-top: 10px;
    text-align: center;
    background-color: #3f7e00;
    padding: 0px 130px;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
  }

  .post_views {
    margin: auto;
    position: absolute;
    bottom: 25px;
    font-size: 15px;
    color: #89959b;
  }

  .post_reviews {
    margin: auto;
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    color: #89959b;
  }

  .add_restaurant {
    height: 100px;
    background-color: #cb202d;
  }

  .add_restaurant_text {
    position: relative;
    text-align: center;
    margin-right: 50px;
    font-size: 18px;
    top: 10%;
    color: white;
  }

  .restaurant_button {
    position: absolute;
    margin-top: 50px;
    top: 0%;
    left: 5%;
  }

  .add_restaurant_button {
    background-color: #ba1e2b;
    border-color: #ba1e2b;
    width: 100%;
  }

  .add_restaurant_button:hover {
    background-color: #d94148;
  }
}

@media screen and (min-width: 1200px) {
  .post {
    position: relative;
    cursor: pointer;
  }

  .post_data {
    margin: auto;
    padding: 10px;
  }

  .post_title {
    text-decoration: none !important;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: #cb202d;
  }

  .post_type {
    margin: auto;
    color: #89959b;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_cost {
    margin: auto;
    color: #89959b;
    font-size: 15px;
  }

  .post_time {
    color: black;
    margin: auto;
    font-size: 15px;
  }

  .post_payment {
    color: black;
    margin: auto;
    font-size: 15px;
  }

  .post_rating {
    position: absolute;
    text-align: center;
    min-width: 50px;
    top: 10px;
    right: 10px;
    background-color: #3f7e00;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
  }

  .post_views {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 15px;
    color: #89959b;
  }

  .post_reviews {
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 15px;
    color: #89959b;
  }

  .add_restaurant {
    position: relative;
    height: 100px;
    background-color: #cb202d;
  }

  .add_restaurant_text {
    position: absolute;
    font-size: 2em;
    top: 30%;
    left: 5%;
    color: white;
  }

  .restaurant_button {
    position: absolute;
    top: 22%;
    right: 5%;
  }

  .add_restaurant_button {
    background-color: #ba1e2b;
    border-color: #ba1e2b;
    font-size: 25px;
    padding: 10px;
  }

  .add_restaurant_button:hover {
    background-color: #d94148;
  }
}
